#rootLaravelSidebar {
    display: flex;
}
#rootLaravelSidebar div {
    width: 50%;
    padding: 2%;
}
/* #containerSidebar {
    width: 100%;
    padding: 2%;
} */
.draggable-item {
    padding: 5px;
    font-weight:400;
    font-size: 16px;
}
.draggable-item.dragstart {
    opacity: 0.4;
    background-color: #f8f9fa;
    border: 1px dashed #ccc;
    /* padding-left: 0px !important; Reset về 0 khi đang nắm */
    color: #999;
}

.draggable-item.dragover {
    /* Tắt transition để phản hồi tức thì theo miligiây */
    transition: none !important; 
    border-top: 2px solid #007bff;
    background-color: rgba(0, 0, 0, 0.05);
}
/* .draggable-item[data-level="1"] { padding-left: 30px; }
.draggable-item[data-level="2"] { padding-left: 60px; } */
/* ... tiếp tục cho đến level 5 */