#rootLaravelSidebar {
    display: flex;
}
#rootLaravelSidebar div {
    width: 50%;
}
.draggable-item {
    padding: 5px;
}
.draggable-item.dragstart {
    background-color: red;
    padding: 0px;
}
.draggable-item.dragover {
    border-left: 2px dashed #007bff; /* Đường kẻ xanh khi rê qua */
    background-color: rgba(0, 123, 255, 0.05);
}
.draggable-item[data-level="1"] { padding-left: 30px; }
.draggable-item[data-level="2"] { padding-left: 60px; }
/* ... tiếp tục cho đến level 5 */